.LandingPageHome {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 30px;
}

.LandingPageHomePreview {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.LandingPageHomeImage {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.LandingPageHome img {
    width: 90%;
}

.LandingPageHomeSentance {
    display: flex;
    /* align-items: center; */
    gap: 10px;
    width: 90%;
}

.LandingPageHomeSentance h3{
    font-size: 18px;
}

.ConfInterviewDiv{
    margin-top: 20px;
}

.ConfInterviewDiv button{
    background-color: transparent;
    border: 1px solid var(--color1);
}