.Interview {
    width: 100%;
    height: 100%;
    /* background-color: blue; */
}

.Home {
    width: 100%;
    height: 92%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.InterviewContainer {
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    /* padding: 20px; */
}

.HomeInterview {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 50px;
}

.questions {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: 18px;
}

.questionBtns {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.questionBtns button {
    background-color: var(--color1);
    width: 100%;
    height: 50px;
    color: white;
}

.btnDisbale {
    opacity: 0.5;
    /* pointer-events: none; */
    cursor: not-allowed;
    margin: 0 auto;
}

.StartInterviewDiv {
    width: 350px;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: var(--color2);
    box-shadow: 0px 2px 10px rgb(171, 167, 167);
    border-radius: 10px;

}

.StartInterviewDiv button {
    width: 50%;
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    background-color: var(--color1);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.HomePlayground {
    width: 50%;
}

.StartInterviewButton {
    background-color: var(--color1);
    color: white;
    box-sizing: border-box;
    padding: 20px;
}

.HomeTestResults {
    width: 40%;
    height: 40%;
    background-color: white;
    box-shadow: 10px 10px 10px rgb(171, 167, 167);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}

.PageNumber{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}